<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prakt_5Lab.Properties.Settings.YandexMarketConnectionString"
            connectionString="Data Source=W2W-Desktop\SQLEXPRESS;Initial Catalog=YandexMarket;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="YandexMarketEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W2W-Desktop\SQLEXPRESS;initial catalog=YandexMarket;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="Prakt_5Lab.Properties.Settings.Yandex_marketConnectionString"
            connectionString="Data Source=W2W-Desktop\SQLEXPRESS;Initial Catalog=Yandex_market;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>